<h1>My Event!</h1>


<ul>
    #foreach($event in $eventList)

    #if($event.dateTime)
    <li>$event.dateTime</li>
    #end
    #if($event.EventName)
    <li>$event.EventName</li>
    #end
    #if($event.NewValue)
    <li>$event.NewValue</li>
    #end
    <br>
    #end

</ul>

