<h1>Please enter a Kadon Id:</h1>

<form action = '/event' method = 'get'>
    <div class = "form-group">
        <input id="id" name ="id" class="form-control" type="text">
    </div>
    <button type = "submit" class = "btn btn-info">Submit</button>
</form>