<!DOCTYPE html>
<html>
<head>
    <title>Hello!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<div class="container">
    <form action = '/home' method = 'get'>

        <div class="text-right">
        <button type = "submit" class = "btn-pull-right btn-info">View another donations events</button>
            <br>
        </div>
    </form>

    #parse( $template )

</div>
</body>
</html>